@page
@using Homework.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Homework.Web.Pages.ParentAdmin.Children.IndexModel
@inject IHtmlLocalizer<HomeworkResource> L
@section scripts { <abp-script src="/Pages/ParentAdmin/Children/index.js" /> }
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6"><h2>@L["Menu:Children"]</h2></abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewChildButton" text="@L["CreateChild"].Value" icon="plus" button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ChildrenTable"></abp-table>
    </abp-card-body>
</abp-card>
