@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Homework.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Homework.Web.Pages.ParentAdmin.Children.SetPinModalModel
@inject IHtmlLocalizer<HomeworkResource> L
<form asp-page="/ParentAdmin/Children/SetPinModal">
    <abp-modal>
        <abp-modal-header title="@L["SetPin"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-input asp-for="Input.Pin" label="@L["Pin"].Value" info="@L["PinInfo"].Value" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
