@page
@using Homework.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Homework.Web.Pages.ParentAdmin.WeeklyTemplates.IndexModel
@inject IHtmlLocalizer<HomeworkResource> L
@section scripts { <abp-script src="/Pages/ParentAdmin/WeeklyTemplates/index.js" /> }
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6"><h2>@L["Menu:WeeklyTemplates"]</h2></abp-column>
            <abp-column size-md="_6" class="text-end">
                <label class="me-2">@L["Child"]</label>
                <select id="ChildSelect" class="form-select d-inline-block" style="width:auto"></select>
                <abp-button id="NewItemButton" text="@L["Create"].Value" icon="plus" button-type="Primary" class="ms-2" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="TemplatesTable"></abp-table>
    </abp-card-body>
</abp-card>
